<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Created</title>
</head>
<body>
    <div class="bodyRegister">
        <div class="registerData">
            <div class="registerName">{{ .SuccessFull }}</div>
        </div>
        <div class="registerImg">
            <img src="/static/img/SuccessFull.webp" alt="" width="400" height="287">
        </div>
    </div>
</body>
</html>