<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/cancel.png" type="image/x-icon">
    <title>Error</title>
</head>
<body>
    <div class="bodyRegister">
        <div class="registerData">
            <a href="/">
                <p class="registerName">Forum</p>
                <p class="answerStyle">{{ .Error }}</p>
            </a>
        </div> <!-- registerData -->
    </div> <!-- bodyRegister -->
</body>
</html>